* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
mark {
	background-color: unset;
}
body {
	font-family: "JetBrains", 'Roboto', monospace;
	font-weight: 400;
}
@font-face {
	font-family: 'JetBrains';
	src: url("../fonts/JetBrainsMono-Bold.ttf") format('truetype');
}
@font-face {
	font-family: 'JetBrains';
	src: url("../fonts/JetBrainsMono-Regular.ttf") format('truetype');
}
@mixin div25 {
	position: relative;
	height: 25vh;
	width: 100vw;
	overflow: hidden;
}
@mixin div50 {
	position: relative;
	height: 50vh;
	width: 100vw;
	overflow: hidden;
}
@mixin div100 {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flexColumnCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
$BLACK: #1e1e1e;
$WHITE: #f8f8f8;
$PINK: #FF40B4;
$GOLD: #eec84b;
$GREEN: #00FF5F;
$BLUE: #4A40FF;
$DARK_GOLD: #A67F00;
$DARK_VIOLET: #A60065;
$DARK_BLUE: #0900A6;
$DARK_RED: #A61D00;